body{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 100px;
	padding: 0;
	opacity: 0;
    	transition: opacity 1.5s;
}

header{
	width: 100%;
	height: 8vh;
	padding-top: 5%;
	font-family: Khand;
	font-size: 22px;
	color: #737373;
	background-color: white;
	z-index: 100;
	background-color: ;
}

#text{
	width: 80vw;
	font-size: 10px;
	margin-top: 33vh;
	margin-left: 10%;
	position: absolute;
}

a{
	text-decoration: none;
	color: #737373;
}

#name{
	margin-left: 5%;
	position: absolute;
}

#x{
	right: 8%;
	position: absolute;
	width: 15px;
	height: 15px;
	margin-top: 10px;
	background-image: url('img/x.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#main{
	position: relative;
	height: 110vh;
	background-color: white;
	font-family: 'Montserrat', serif;
}

.naslov{
	transform-origin: 0 0;
  	transform: rotate(-90deg);
  	font-size: 10px;
}

#kontakt{
	margin-top: 45vh;
	position: absolute;
}

#obrazovanje{
	margin-top: 75vh;
	position: absolute;
}

#radnaracunaru{
	margin-top: 100vh;
	position: absolute;
}

#stranijezik{
	margin-top: 120vh;
	position: absolute;
}

#k-t{
	position: absolute;
	font-family: 'Montserrat', serif;
	font-size: 10px;
	margin-top: 12.5vh;
	margin-left: 15vw;
	line-height: 1.8;
}

#obrz{
	width: 55vw;
	position: absolute;
	font-size: 10px;
	font-family: 'Montserrat', serif;
	margin-left: 15vw;
	margin-top: 65vh;
}

#r{
	width: 50vw;
	position: absolute;
	font-size: 10px;
	font-family: 'Montserrat', serif;
	margin-left: 15vw;
	margin-top: 85vh;
	line-height: 1.8;
}

#s-j{
	width: 50vw;
	position: absolute;
	font-size: 10px;
	font-family: 'Montserrat', serif;
	margin-left: 15vw;
	margin-top: 112vh;
}

#m-f img{
	width: 30vw;
	margin-top: 10vh;
	position: absolute;
	right: 5%;
}

#k img{
	width: 10vw;
	position: absolute;
	margin-top: 10vh;
}

#be {
	background-color: ;
	position: absolute;
	margin-left: 15vw;
	margin-top: 25vh;
	font-size: 10px;
	
}

#be-logo{
	width: 5vw;
	position: absolute;
	padding-right: 8vh;
	margin-top: 24.5vh;
	margin-left: 3vw;
	
}
@media screen and (min-width: 500px) and (orientation: landscape){
	header{
		height: 10vh;
		z-index: 1000;	}

	#text{
		margin-top: 60vh;
		width: 70vw;
	}

	#k img{
		width: 6vw;
		margin-top: 20vh;
	}

	#k-t{
		margin-top: 84px;
		line-height: 2;
		margin-left: 8vw;
	}

	#m-f img{
		width: 20vw;
	}

	#be-logo{
		margin-top: 47vh;
		margin-left: 2vw;
		width: 3%;
	}

	#be{
		margin-top: 48vh;
		margin-left: 8vw;
	}

	#obrazovanje{
		margin-top: 120vh;
	}

	#obrz{
		margin-top: 103vh;
	}

	#radnaracunaru{
		margin-top: 158vh;
	}

	#r{
		margin-top: 133vh;
	}

	#stranijezik{
		margin-top: 190vh;
	}

	#s-j{
		margin-top: 175vh;
	}

	#main{
		height: 200vh;
	}
}

@media screen and (min-width : 700px){
	header{
		font-size: 25px;
	}

	#x{	
		width:20px;
		height:20px;
	}

	#text{
		width: 70vw;
		margin-top: 330px;
		margin-left: 90px;
		font-size: 14px;
	}

	#m-f img{
		width: 18vw;
		margin-top: 100px;
		right: 40px;
	}

	#k img{
		width: 6vw;
		margin-top: 100px;
		margin-left: 50px;
	}

	#k-t{
		margin-top: 115px;
		font-size: 14px;
		margin-left: 110px;
	}

	#be-logo{
		margin-top: 220px;
		margin-left: 63px;
	}

	#be{
		margin-top: 220px;
		margin-left: 110px;
		font-size: 14px;
	}

	#obrazovanje{
		margin-top: 640px;
		font-size: 14px;
		margin-left: 47px;
	}

	#obrz{
		margin-top: 540px;
		font-size: 14px;
		margin-left: 110px;
	}

	#radnaracunaru{
		margin-top: 830px;
		font-size: 14px;
		margin-left: 47px;
	}

	#r{
		margin-top: 700px;
		margin-left: 110px;
		font-size: 14px;
	}

	#stranijezik{
		margin-top: 980px;
		margin-left: 47px;
		font-size: 14px;
	}

	#s-j{
		margin-top: 900px;
		margin-left: 110px;
		font-size: 14px;
	}

	#main{
		height: 100vh;
	}
}

@media screen and (min-width : 1024px){
	header{
		height: 6%;
	}

	#x{
		right: 30px;
	}

	#m-f img{
		width: 13vw;
	}
	
	#k-t{
		margin-top: 120px;
		line-height: 2.4;
	}

	#k img{
		width: 5vw;
	}

	#be-logo{
		margin-top: 260px;
		margin-left: 71px;
	}

	#be{
		margin-top: 260px;
	}

	#obrazovanje{
		margin-top: 600px;
	}

	#obrz{
		margin-top: 510px;
	}

	#radnaracunaru{
		margin-top: 830px;
	}

	#r{
		margin-top: 700px;
	}

	#stranijezik{
		margin-top: 1030px;
	}

	#s-j{
		margin-top: 960px;
	}

	#main{
		height: 150vh;
	}
}

@media screen and (min-width : 1400px){
	header{
		height: 5%;
	}

	#name{
		margin-left: 30px;
	}

	#x{
		right: 20px;
	}

	#text{
		width: 30vw;
		left: 53vw;
		margin-top: 450px;
	}

	#main{
		height: 100vh;
	}

	#m-f img{
		width: 13vw;
	}

	#k img{
		width: 2.7vw;
		margin-top: 130px;
	}

	#k-t{
		margin-top: 145px;
		line-height: 2;
	}

	#be-logo{
		margin-top: 275px;
	}

	#be{
		margin-top: 275px;
	}

	#obrazovanje{
		margin-top: 500px;
	}

	#obrz{
		margin-top: 410px;
		width: 30vw;
		margin-left: 150px;
	}

	#radnaracunaru{
		margin-top: 700px;
	}

	#r{
		margin-top: 580px;
		margin-left: 150px;
	}

	#stranijezik{
		margin-top: 870px;
	}

	#s-j{
		margin-top: 800px;
		margin-left: 150px;
	}

	#linija{
		width: 2px;
		height: 90vh;
		position: absolute;
		margin-left: 50vw;
		margin-top: 50px;
		background-color: black;
		z-index: 1000;
	}
}
