body{
	margin: 0px,0px,0px, 0px;
	padding: 0px,0px,0px, 0px;
	opacity: 0;
    transition: opacity 1.5s;
}

header{
	width: 100%;
	height: 8%;
	padding-top: 10px;
	position: fixed;
	font-family: Khand;
	font-size: 22px;
	color: #737373;
	background-color: white;
	z-index: 100;
	text-decoration: none;
	color: #737373;
	
}

a{
	text-decoration: none;
	color: #737373;
}

#name{
	margin-left: 10px;
	position: absolute;	
}

#cv{
	right: 20px;
	position: absolute;
	text-decoration: none;
	color: #737373
}

#box1{
	background-color: #dcdcdc;
	position: relative;
	width: 100vw;
	height: 70vh;
	top: 50px;
}

#img1{
	width: 45vw;
	margin-left: 10%;
	margin-top: 10%;
}

#img2{
	width: 55vw;
	margin-left: 40%;
	margin-top: 10%;
}

#box2{
	width: 100vw;
	height: 90vh;
	background-color: ;
	position: relative;
	z-index: -10;
	margin-top: 300px;
	background-image: url('img/3.png');
	background-repeat: no-repeat;
	background-size: cover;

}

#img4{
	width: 45vw;
	margin-top: 5%;
	position: absolute;
}

#img5{
	width: 65vw;
	margin-left: 35%;
	margin-top: 40%;
	position: absolute;
}

#img6{
	width: 65vw;
	margin-left: 20%;
	margin-top: 120%;
/*	position: absolute;*/
}

#box3{
	width: 100vw;
	position: relative;
	margin-top: 200px;
}

#img7{
	width: 100vw;
}

#box4{
	width: 100vw;
	position: relative;
  	margin-left: 15px;
  	margin-top: 50px;
}

#img8{
	width: 40vw;
	margin-top: 10vh;
	margin-left: 5vw;
	position: absolute;
}

#img9{
	width: 40vw;
	margin-top: 28vh;
	margin-left: 50vw;
	position: absolute;
}

#img10{
	width: 40vw;
	margin-top: 43vh;
	margin-left: 5vw;
}

#box5{
	width: 100vw;
	position: relative;
	margin-top: 130px;
}

#img11{
	width: 100vw;
	margin-bottom: 15vw;
}

@media screen and (min-width: 500px) and (orientation: landscape){
	header{
		height: 8%;
	}

	#cv{
		margin-right: 10px;
	}

	#box1{
		height: 220vh;
	}

	#box2{
		height: 300vh;
		margin-top: 600px;
	}

	#box3{
		height: 100vh;
		margin-top: 300px;
	}

	#box4{
		margin-top: 100px;
	}

	#img9{
		margin-top: 250px;
	}

	#img10{
		margin-top: 400px;
	}

	#box5{
		margin-top: 150px;
	}
}

@media screen and (min-width : 700px){
	header{
		font-size: 25px;
	}

	#cv{
		margin-right: 20px;
	}
	
	#box1{
		height: 75vh;
	}

	#img1{
		width: 30vw;
	}

	#img2{
		width: 50vw;
		margin-top: -80px;
		margin-left: 350px;
	}

	#box2{
		height: 125vh;
	}

	#box3{
		height: 40vh;
		margin-top: 400px;
	}

	#box4{
		margin-top: 110px;
	}

	#img9{
		margin-top: 330px;
	}

	#img10{
		margin-top: 530px;
	}

	#box5{
		margin-top: 1200px;
	}
}

@media screen and (min-width : 1024px){
	header{
		font-size: 25px;
	}

	#cv{
		margin-right: 20px;
	}

	#box1{
		height: 75vh;
	}

	#img1{
		width: 30vw;
	}

	#img2{
		width: 50vw;
		margin-top: -80px;
		margin-left: 350px;
	}

	#box2{
		height: 125vh;
		margin-top: 300px;
	}

	#box3{
		height: 40vh;
		margin-top: 350px;
	}

	#box4{
		margin-top: 110px;
	}

	#img9{
		margin-top: 330px;
	}

	#img10{
		margin-top: 530px;
	}

	#box5{
		margin-top: 1200px;
	}
}

@media screen and (min-width : 1400px){
	header{
		height: 5%;
	}

	#name{
		margin-left: 30px;
	}

	#cv{
		right: 20px;
	}

	#img1{
		width: 20vw;
		margin-top: 100px;
		margin-left: 300px;
	}

	#img2{
		width: 40vw;
		margin-left: 950px;
		margin-top: -300px;
	}

	#box2{
		margin-top: 900px;
		height: 90vh;
	}

	#img4{
		width: 18vw;
	}

	#img5{
		width: 30vw;
	}

	#img6{
		width: 30vw;
		margin-left: 550px;
		margin-top: 400px;
	}

	#box3{
		height: 50vw;
	}

	#img7{
		width: 80vw;
		margin-left: 250px;
	}

	#img8{
		width: 25vw;
		margin-top: 100px;
	}

	#img9{
		width: 25vw;
		margin-top: 100px;
		margin-left: 700px;
	}

	#img10{
		width: 25vw;
		margin-top: 100px;
		margin-left: 1300px;
	}

	#box5{
		margin-top: 900px;	
	}

	#img11{
		margin-bottom: 200px;
	}
}

