body{
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	opacity: 0;
    	transition: opacity 1.5s;
}

header{
	width: 100%;
	height: 8%;
	padding-top: 5%;
	position: absolute;
	font-family: Khand;
	font-size: 22px;
	color: #737373;
	background-color: white;
	z-index: 100;
	text-decoration: none;
}

a{
	text-decoration: none;
	color: #737373;
}

#name{
	margin-left: 5%;
	position: absolute;	
}

#cv{
	right: 10%;
	position: absolute;
	text-decoration: none;
	color: #737373
}

#box1{
	background-color: #dcdcdc;
	position: relative;
	height: 70vh;
	top: 10vh;
}

#img1{
	width: 45vw;
	margin-left: 10%;
	margin-top: 10%;
}

#img2{
	width: 55vw;
	margin-left: 40%;
	margin-top: 10%;
}

#box2{
	height: 90vh;
	background-color: ;
	position: relative;
	z-index: -10;
	margin-top: 50vh;
	background-image: url('img/3.png');
	background-repeat: no-repeat;
	background-size: cover;

}

#img4{
	width: 45vw;
	margin-top: 5%;
	position: absolute;
}

#img5{
	width: 65vw;
	margin-left: 35%;
	margin-top: 40%;
	position: absolute;
}

#img6{
	width: 65vw;
	margin-left: 20%;
	margin-top: 120%;
}

#box3{
	position: relative;
	margin-top: 35vh;
}

#img7{
	width: 100vw;
}

#box4{
	position: relative;
  	margin-left: 2.5%;
  	margin-top: 10vh;
}

#img8{
	width: 40vw;
	margin-top: 10vh;
	margin-left: 5vw;
	position: absolute;
}

#img9{
	width: 40vw;
	margin-top: 28vh;
	margin-left: 50vw;
	position: absolute;
}

#img10{
	width: 40vw;
	margin-top: 43vh;
	margin-left: 5vw;
}

#box5{
	position: relative;
	margin-top: 20vh;
}

#img11{
	width: 100vw;
	margin-bottom: 15vw;
}

@media screen and (min-width: 500px) and (orientation: landscape){
	header{
		height: 10vh;
		padding-top: 1%;
	}

	#box1{
		height: 220vh;
	}

	#box2{
		height: 300vh;
		margin-top: 120vh;
	}

	#box3{
		height: 100vh;
		margin-top: 80vh;
	}

	#box4{
		margin-top: 30vh;
	}

	#img9{
		margin-top: 60vh;
	}

	#img10{
		margin-top: 100vh;
	}

	#box5{
		margin-top: 50vh;
	}
}

@media screen and (min-width : 700px){
	header{
		font-size: 25px;
		height: 5%;
	}

	#cv{
		margin-right: 20px;
	}

	#box1{
		height: 60vh;
	}

	#img1{
		width: 30vw;
	}

	#img2{
		width: 50vw;
		margin-top: -13vh;
		margin-left: 45vw;
	}

	#box2{
		height: 120vh;
		margin-top: 55vh;
	}

	#box3{
		height: 40vh;
		margin-top: 40vh;
	}

	#box4{
		margin-top: 10vh;
	}

	#img9{
		margin-top: 30vh;
	}

	#img10{
		margin-top: 50vh;
	}

	#box5{
		margin-top: 20vh;
	}
}

@media screen and (min-width : 1024px){
	header{
		height: 6%;
	}

	#cv{
		right: 50px;
	}

	#box1{
		height: 80vh;
	}

	#img1{
		width: 25vw;
		margin-top: 10vh;
	}

	#img2{
		width: 45vw;
		margin-top: -20vh;
		margin-left: 45vw;
	}

	#box2{
		margin-top: 80vh;
		height: 150vh;
	}

	#img4{
		width: 25vw;
		margin-left: 8vw;
		margin-top: 10vh;
	}

	#img5{
		width: 50vw;
		margin-top: 10vh;
		right: 7vw;
	}

	#img6{
		width: 50vw;
		margin-top: 100vh;
		margin-left: 30%;
	}

	#box4{
		margin-top: 50vh;
	}

	#img9{
		margin-top: 50vh;
	}

	#img10{
		margin-top: 90vh;
	}

	#img11{
		margin-top: 20vh;
	}
}

@media screen and (min-width : 1400px){
	header{
		height: 5%;
	}

	#name{
		margin-left: 30px;
	}

	#cv{
		right: 20px;
	}

	#img1{
		width: 20vw;
		margin-top: 10vh;
		margin-left: 30vh;
	}

	#img2{
		width: 40vw;
		margin-left: 45vw;
		margin-top: -300px;
	}

	#box2{
		margin-top: 110vh;
		height: 90vh;
	}

	#img4{
		width: 18vw;
	}

	#img5{
		width: 30vw;
	}

	#img6{
		width: 30vw;
		margin-left: 25vw;
		margin-top: 40vh;
	}

	#box3{
		width: 100vw;
	}

	#img7{
		width: 100vw;
	}

	#box4{
		margin-top: 90vh;
	}

	#img8{
		width: 25vw;
		margin-top: 10vh;
	}

	#img9{
		width: 25vw;
		margin-top: 10vh;
		margin-left: 36vw;
	}

	#img10{
		width: 25vw;
		margin-top: 10vh;
		margin-left: 67vw;
	}

	#box5{
		margin-top: 20vh;	
	}

	#img11{
		margin-bottom: 20vh;
	}
}
