body{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	opacity: 0;
    transition: opacity 1.5s;
}

header{
	width: 100%;
	background-color: white;
	height: 45px;
	padding-top: 15px;
	z-index: 1000;
	font-family: Khand;
	font-size: 26px;
	color: #737373;
	text-decoration: none;
	margin: 0;
	position: absolute;	
}

a{
	text-decoration: none;
	color: #737373;
}

#name{
	position: absolute;
	margin-left: 15px;	
}

#cv{
	right: 30px;
	position: absolute;
	text-decoration: none;
	color: #737373
}

#box{
	position: absolute;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 7vh;
}

#box1{
	background-color: #dcdcdc;
	width: 100%;
	margin-bottom: 25vh;
	display: flex;
	flex-direction: column;
}

#img1{
	width: 45vw;
	margin-left: 10%;
	margin-top: 10%;
}

#img2{
	width: 55vw;
	margin-left: 40%;
	margin-top: 10%;
	margin-bottom: 10%;
}


#box2{
	display: flex;
	flex-wrap: wrap;
	flex: 100%;
	z-index: -10;
	background-color: ;
	margin-bottom: 25vh;
}

#img4{
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
}

#img5{
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: 10vh;
	background-image: url('img/3.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#img6{
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	
}

#box3{
	width: 100vw;
	margin-bottom: 25vh;
}

#img7{
	width: 100vw;
}

#box4{
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
/*	align-item: center;*/
	gap: 10vh;
	margin-bottom: 25vh;
}

.ram{
	width: 80vw;
	
}

#box5{
	width: 100vw;
	margin-bottom: 25vh;
}

#img11{
	width: 100vw;
}

@media screen and (min-width: 600px){
	#img4, #img5, #img6 {
		width: 30%;
		height: auto;
		margin-top: 0;
		margin-bottom: 0;
	}

	#box4{
		gap:15vh;
		margin: 4vh 4vh 20vh 4vh;
	}

	.ram{
		width: 42vw;

	}	
}

@media screen and (min-width: 900px){
	#box{
		margin-top: 0;
	}

	#img1{
		width: 25vw;
		margin-left: 10%;
		margin-top: 8%;
	}

	#img2{
		width: 35vw;
		margin-left: 50%;
		margin-top: -15%;
		margin-bottom: 10%;
	}

	#box4{
		gap: 15vh;
		margin-bottom: 30vh;
	}
}








